.icon {
    display: flex;
    font-size: 50px;
    margin-right: 5px;
    margin-left: 10px;
    align-content: center;
    align-items: center;
}

.Dish {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    min-width: 200px;
}