.App {
  text-align: center;
  display: flex;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.drink-dishes, .food-dishes {
  max-width: 45%;
  user-select: none
}

.order-details{
  min-width: 30%;
  box-sizing: border-box;
}

.dishes {
  min-width: 70%;
  box-sizing: border-box;
}
fieldset {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}